<?xml version="1.0" encoding="utf-8" ?>
<!--
* Platform Visualization Application
*
*  Class Tree Visualization
*
*****************************************************
*  Troy Pesola - troy@servicemanagementprof.com
*
*  http://servicemanagementprof.com/platform-vis
*****************************************************
-->
<j:jelly trim="false" xmlns:j="jelly:core" xmlns:g="glide" xmlns:j2="null" xmlns:g2="null">
<g:evaluate var="jvar_pvis_classnames" jelly="true">
  var pvis_classnames = "${RP.getParameterValue('cn')}";
	if (pvis_classnames=='') {pvis_classnames='cmdb';}
	pvis_classnames;
</g:evaluate>
<g:evaluate var="jvar_pvis_parse_type" jelly="true">
  var pvis_parse_type = "${RP.getParameterValue('pt')}";
	if (pvis_parse_type=='') {pvis_parse_type='Extensions';}
  if (pvis_parse_type!='Extensions') { pvis_parse_type = 'References'; }
	pvis_parse_type;
</g:evaluate>
<g:evaluate var="jvar_parse_ext" jelly="true">
  var parse_ext=(pvis_parse_type=='Extensions');
  parse_ext;
</g:evaluate>
<g:evaluate var="jvar_do_cnt" jelly="true">
	var do_cnt = "${RP.getParameterValue('do_cnt')}";
  do_cnt = do_cnt || 'true';
	do_cnt = (do_cnt=='true' || do_cnt=='1')?true:false;
	do_cnt;
</g:evaluate>
<g:evaluate var="jvar_vcu" jelly="true" object="true">
	var vcu = new VisClassUtil();
  if (pvis_parse_type=='Extensions') vcu.parseExtensions(pvis_classnames,do_cnt);
  else vcu.parseReferences(pvis_classnames,do_cnt);
	vcu;
</g:evaluate>
<g:evaluate var="jvar_graph" jelly="true">
  var graph = vcu.getGraphJSON();
	graph;
</g:evaluate>
<style>
.node text { font: 12px sans-serif; }
.link { fill: none; stroke: #ccc; stroke-width: 1.5px; stroke-opacity: 0.5}
.pvis-popup h2 { margin: 0 0 1rem 0; font-size: 14px; }
.pvis-popup {
  position: absolute; left: 0; top: 0;
  background-color: #fff;
  border: 1px #ccc solid;
  border-radius: 6px;
  box-shadow: #333 2px 2px 4px;
  padding: 8px;
  font-size: 12px;
}
</style>
<div class="container-fluid">
<div class="row"><div class="col-md-12">
<div class="dropdown pull-right">
  <button class="btn btn-default dropdown-toggle" type="button" id="pvis_dropdownmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="pvis_dropdownmenu">
    <li><div class="input-group">
        <input type="text" class="form-control" id="pvis-search-text" placeholder="Search for..."></input>
        <span class="input-group-addon" id="pvis-search-btn">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </span>
      </div></li>
    <li><input type="checkbox" id="cbNames" checked="checked"></input>Names</li>
    <j:if test="${!jvar_parse_ext}">
      <li><input type="checkbox" id="cbSubNames" checked="checked"></input>Sub-Names</li>
    </j:if>
    <j:if test="${jvar_parse_ext}">
      <input type="hidden" id="cbSubNames"></input>
    </j:if>
    <li><input type="checkbox" id="cbLabels" checked="checked"></input>Labels</li>
    <li><input type="checkbox" id="cbFldNames" checked="checked"></input>Field Names</li>
		<li><input type="checkbox" id="cbFldLabels" checked="checked"></input>Field Labels</li>
		<li><input type="checkbox" id="cbFldRefs" checked="checked"></input>Field References</li>
    <li><input type="checkbox" id="cbIncInactiveFlds" checked="checked"></input>Include Inactive Fields</li>
    <li><input type="checkbox" id="cbCreatedBy" checked="checked"></input>Created By</li>
    <li><input type="checkbox" id="cbUpdatedBy" checked="checked"></input>Updated By</li>
    <j:if test="${jvar_do_records}" >
      <li><input type="checkbox" id="cbWithRecords"></input>Classes with Records</li>
    </j:if>
    <j:if test="${!jvar_do_records}" >
      <input type="hidden" id="cbWithRecords"></input>
    </j:if>
    <li role="separator" class="divider"></li>
    <li>
      <input type="text" class="form-control" id="pvis-after-date" placeholder="Updated after yyyy-mm-dd"></input>
    </li>
    <li role="separator" class="divider"></li>
    <li id='liSearchClr' style="display:none"><a id="menuSearchClr">Clear Previous Search</a></li>
    <li role="separator" class="divider"></li>
    <li><a id="menuExpand">Expand All</a></li>
    <li><a id="menuCollapse">Collapse All</a></li>
  </ul>
</div>
<h1>Class ${jvar_pvis_parse_type} Tree</h1>
</div></div>
<div class="row"><div class="col-md-12"><div id="pvis_msg"></div></div></div>
<div class="row"><div class="col-md-12">
  <div id="pvis_tree"></div>
</div></div>
</div>

<script>
var graph = JSON.parse('${jvar_graph}');
</script>
</j:jelly>
